/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* Light Mode */
:root {
  --ifm-background-color: #FFF;
  --ifm-color-primary: #0e0b1c;
  --ifm-navbar-background-color: #FFF;
  --ifm-navbar-link-color: #0e0b1c;
  --ifm-navbar-link-hover-color: #0e0b1c;
}

/* Dark Mode */
html[data-theme='dark'] {
  --ifm-background-color: #0e0b1c;
  --ifm-color-primary: #FFFEE8;
  --ifm-navbar-background-color: #0e0b1c;
  --ifm-navbar-link-color: #FFFEE8;
  --ifm-navbar-link-hover-color: #FFFEE8;
}

html[data-theme='dark'] .button--secondary {
  background-color: #0e0b1c;
  color: #FFFEE8;
}

html[data-theme='dark'] .button--secondary:hover {
  background-color: #FFFEE8; /* Cor de fundo ao passar o mouse */
  color: #0e0b1c; /* Cor do texto ao passar o mouse */
}